@main-red: rgba(133,12,35,1);
@grey-borders: #3F3F46;

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;

  .align-right {
    text-align: right;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .view {
    width: 100vw;
    margin: 15px;
    padding: 50px;
  }

  .clickable {
    cursor: pointer;
  }

  .svgSpin {
    color: red;
  }
}